@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

/*NAVIGATION*/

.main-header-general {
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ffffff;
}

.navigation-link {
  position: relative;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  height: 64px;
  display: inline-block;
  box-sizing: border-box;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation {
  display: flex;
  min-height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  list-style-type: none;
  padding: 0 0 0 30px;
  margin: 0;
}



.navigation-logo {
  width: 140px;
  height: 64px;
}

.navigation-user {
  display: flex;
  height: 64px;
  max-width: 350px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;

}

.navigation-link-to {
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 20px;
  height: fit-content;
  margin-top: 14px;
}

.navigation-link-to:hover {
  background-color: #615048;
}

.navigation-link-to:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user .navigation-item:nth-child(1) {
  background-color: transparent;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-user .navigation-item:nth-child(2) {
  background-color: transparent;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  position: relative;
}

.navigation-icon {
  width: 44px;
}

.all-likes {
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  background-color: #7db54f;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  right: 3px;
  top: 11px;
  padding: 5px;
}

/*MAIN*/

.background-sedona-rocks {
  background:
    url("../images/general-images/border-for-picture.svg") bottom/50px no-repeat,
    url("../images/general-images/rocks-sedona.jpg") center/cover no-repeat;
  height: 485px;
  background-color: #000000;
  color: #000000;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

/*ADVANTAGES*/

.advantages {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-general {
  margin-top: 69px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-container {
  padding: 92px 85px 110px;
  width: 400px;
  padding-bottom: 0;
}

.advantages-container-image {
  width: 800px;
  background-color: #000000;
}

.advantages-container-general {
  display: flex;
  height: 384px;
}

.advantages-reasons {
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  color: #000000;
  appearance: none;
}


.advantages-item-wide {
  display: flex;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 0;
  color: #ffffff;
  text-align: center;
  background-color: #82b3d3;
  text-transform: none;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 31px;
  padding-right: 27px;
  padding-left: 27px;
}


.advantages-title::before {
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  background: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-title-wide::before {
  background: rgba(255, 255, 255, 0.3);
}


.advantages-item-container {
  padding: 102px 85px 120px;
  padding-bottom: 0;
}


.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: none;
  margin: 0;
  padding-top: 31px;
}

.advantages-description-wide {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 0;
  padding-top: 31px;
}


.advantages-item {
  width: 400px;
  min-height: 385px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.2);
  list-style-type: none;
}



.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*RECOMMENDATIONS*/

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.recommendations-item {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 82px;
  width: 400px;
  min-height: 384px;
  background-color: #ffffff;
  list-style-type: none;
  text-align: center;
}

.recommendations-house {
  background-image: url("../images/icons/house.svg");
}

.recommendations-food {
  background-image: url("../images/icons/food.svg");
}

.recommendations-present {
  background-image: url("../images/icons/present.svg");
}



.recommendations-item:nth-child(odd) {
  background-color: #83b3d31f;
}

.recommendations-title {
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 182px;
  margin: 0;
}

.recommendations-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding-right: 85px;
  padding-left: 85px;
  margin-top: 30px;
}

/*HOTEL SEARCH*/


.hotel-search {
  font-weight: 700;
  min-height: 405px;
  font-size: 30px;
  line-height: 36px;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
}

.hotel-search-container {
  padding: 96px 304px;
}

.hotel-search-form {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 20px 0 57px 0;
}

.button-all {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 0;
  border-radius: 4px;
  min-width: 376px;
  display: inline-block;
}

.button-all:hover {
  background-color: #615048;
}

.button-all:active {
  color: rgba(255, 255, 255, 0.3);
}

/*SUBSCRIBE*/

.subscribe {
  text-align: center;
  min-height: 415px;
  background-color: #000000;
  background-image: url("../images/general-images/subscription.jpg");
  background-size: cover;
}


.subscribe-form {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  margin: 0;
}

.subscribe-container {
  padding-top: 96px;
  margin-left: 258px;
  margin-right: 258px;
}

.subscribe-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
}

.form-font-general,
.form-font-other {
  color: #000000
}

.appointent-form {
  display: flex;
  padding-top: 54px;
}

.text {
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #f2f2f2;

}

.button-subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  margin: 0;
}

.button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:active {
  color: rgba(255, 255, 255, 0.3);
}


/*FOOTER*/

.page-footer {
  display: flex;
  padding: 45px 70px 30px;
  justify-content: space-between;
}

.footer-social {
  width: 142px;
}

.footer-social-link:hover path {
  fill: #68a2ca;
}

.footer-social-link:active {
  opacity: .3;
}

.footer-logo {
  padding-top: 2px;
  padding-left: 4px;

}

.footer-logo:hover {
  fill: #756157;
}

.footer-logo:focus {
  fill: #756157;
}


.footer-logo:active {
  opacity: .3;
}

.social-web {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-list {
  width: 47px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}



.footer-contacts {
  width: 720px;
  text-align: center;
}


.footer-contacts-logo:hover {
  color: #756157;
}


.footer-label-site {
  width: 120px;

}


.contacts-phone {
  color: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-left: 5px;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:active {
  opacity: .3;
}





/*catalog_header*/

.main-image-container {
  background-color: #000000;
  background-image: url("../images/general-images/filter-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 412px;
}

.inner-header-title {
  padding-top: 35px;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 8px;
  list-style-type: none;
  gap: 10px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  opacity: .3;
}

.breadcrumbs-link:active {
  opacity: .3;
}



.breadcrumbs-icon {
  background-color: transparent;
  background-image: url("../images/icons/house-breadcrumb.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding-bottom: 2px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 18px;
  list-style-type: none;
}

.breadcrumbs-item::after {
  position: absolute;
  background-color: transparent;
  background-image: url("../images/icons/pointer-right.svg");
  background-repeat: no-repeat;
  top: 5px;
  right: -19px;
  width: 8px;
  height: 11px;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}


/*catalog_filter*/

.main-image-container {
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 0 0 32px 0;
}


.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  list-style-type: none;
  padding-bottom: 16px;
}

.catalog-filter-item:last-child {
  padding-bottom: 0;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  padding-right: 70px;
  position: relative;
}


.filter-house {
  padding-right: 150px;
}



.catalog-filter {
  display: flex;
}


.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.sorting-container {
  display: flex;
  padding: 50px 70px 35px 70px;
}

.sorting-container-option {
  display: flex;
}

.sorting-container-visual {
  display: flex;
  flex-wrap: wrap;
}

.sorting-container-visual .button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
}

.sorting-container-visual .button:hover {
  border-color: #000000;
}


.sorting-container-visual .button:active {
  border-color: #000000;
}

.search-finish {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 6px;
  padding-right: 200px;
  min-width: 338px;
}

.button-visual {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.visual-all {
  background-color: #000000;
  background-image: url("../images/icons/view-table.svg");
}


.visual-full {
  background-color: #000000;
  background-image: url("../images/icons/view-slideshow.svg");
}

.visual-list {
  background-color: #000000;
  background-image: url("../images/icons/view-list.svg");
}


.sorting-container-visual .button:last-child {
  margin-right: 0;
}



.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-right: auto;
}

.select-control {
  width: 290px;
  height: 49px;
  padding: 12px 18px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  margin: 0;
  margin-right: 60px;
}

.select-control:hover {
  border: 2px solid #82b3d3;
  outline: none;
}

.select-control:active {
  border-color: #3F5E72;
}

.catalog-botton-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
}

.button-filter {
  padding: 8px 50px;
  background-color: #82b3d3;
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button-filter:hover {
  background-color: #68a2ca;
}

.button-filter:focus {
  outline: 3px solid #82b3d3;
}

.button-filter:active {
  color: rgba(255, 255, 255, 0.3);
}



.button-filter:last-child {
  background: transparent;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #ffffff;
  margin-top: 46px;
}



.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 216px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:active {
  outline: 2px solid #82b3d3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
}


.catalog-filter-label:first-child {
  margin-right: 2px;
}

.range-input:focus {
  outline: 2px solid #83b3d3;
}

.range-input:active {
  outline: 2px solid #000000;
}

.range-input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  appearance: textfield;
  border: none;
  padding: 12px 20px;
  margin: 0;
  width: 143px;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  line-height: 24px;
}

.range-max {
  border-radius: 0 4px 4px 0;
}

.min {
  position: absolute;
  left: 106px;
  top: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: .3;
}

.max {
  position: absolute;
  right: 92px;
  top: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: .3;
}


.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control:hover {
  opacity: .3;
}



.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}




.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-color: #ffffff;
  background-image: url("../images/icons/choice.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input:focus ~ .control-mark {
  outline: 3px solid #83b3d3;
}


.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}


.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}



/*hotels*/

.hotels-cards-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  padding-left: 20px;
  padding-bottom: 18px;
  margin: 0;
}

.hotels-cards-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.hotels-cards-link {
  text-decoration: none;

}

.hotels-cards-list {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels-cards-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-align: end;
}


.hotels-cards {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
  margin: 0;
}

.hotels-cards-container {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 21px 36px 38px auto;
  gap: 16px 20px;
  padding-left: 20px;
}

.hotels-cards-image {
  display: block;
  margin: 20px auto;
  margin-bottom: 16px;
}

.hotels-cards-detail-button {
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
}

.hotels-cards-detail-button:hover {
  background-color: #615048;
}

.hotels-cards-detail-button:active {
  color: rgba(255, 255, 255, 0.3);
}


.hotels-cards-favorite-button {
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  background-color: #82b3d3;
  line-height: 20px;
  padding-top: 8px;
}

.hotels-cards-favorite-button:hover {
  background-color: #68A2CA;
}

.hotels-cards-favorite-button:active {
  color: rgba(255, 255, 255, 0.3);
}


.favourite-active {
  background-color: #7db54f;
}

.favourite-active:hover {
  background-color: #6c9e42;
}

.raiting-stars {
  background-color: #ffffff;
  background-image: url("../images/icons/stars.svg");
  background-repeat: space;
  margin-top: 10px;
}

.raiting-stars-four {
  max-width: 88px;
}

.raiting-stars-three {
  max-width: 66px;
}

.raiting-stars-two {
  max-width: 42px;
}


.raiting {
  font-family: "PT Sans", sans-serif;
  ;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 7px;
}

/*pagination*/

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.pagination-container {
  display: flex;
  padding-left: 70px;
  padding-right: 8px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.pagination-item {
  margin-right: 8px;
}


.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination-disabled {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link:active {
  opacity: .3;
}

.pagination-link:hover {
  background-color: #68A2CA;
}


.pagintaion-link-dots {
  background-color: transparent;
  color: #000000
}

.two-digit {
  padding: 11px 19px;
}

/*modal-box*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;

}

.form-container {
  position: relative;
}

.modal {
  position: relative;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 717px;
  height: 576px;
  margin: auto;
  box-sizing: border-box;
}

.modal-sign {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e2e2e2;
}

.button.modal-close-button:active path {
  opacity: .3;
}

.modal-close-button:focus {
  border: 3px solid #83b3d3;
  outline: none;
}




.error-message {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
  margin: 4px 0 23px 161px;

}

.add-message {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin: 4px 0 23px 161px;

}

.modal-title {
  margin: 0 0 64px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.child-count {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-top: 12px;
}

.senior-count {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-right: 46px;
  padding-top: 12px;
}



.form-accommodation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 20px;
}



.count-container {
  display: flex;
  margin-bottom: 48px;
}

.modal-input {
  width: 31px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  height: 48px;
  padding: 0;
  margin: 0;
}

.sign-form-modal {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 420px;
  padding: 10px 0 10px 16px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.calendar {
  position: absolute;
  left: 526px;
  top: 10px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}



.sign-form-modal:active {
  outline: 4px solid #000000;
}

.sign-form-modal:focus {
  outline: 4px solid #82b3d3;

}



.adults-count-wrapper {
  display: flex;
  margin-right: 88px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px 4px 4px 4px;
  padding: 0;
  justify-content: center;
  align-items: center;
}


.minus {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  margin: 14px 10px;
}


.minus-icon {
  padding: 3px;
}


button.minus:hover path {
  fill: #000000;
}

.minus:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}


.plus {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  margin: 14px 10px;
}

button.plus:hover path {
  fill: #000000;
}

.plus:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}


.modal-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 257px;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #68a2ca;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:active {
  opacity: .3;
}


.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}


.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-text {
  position: absolute;
  background-color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 8px;
  display: block;
  width: 256px;
  left: -128px;
  display: none;
}

.tooltip {
  position: relative;
  margin-top: 14px;
  margin-left: 13px;
  width: 20px;
  height: 20px;
  margin-right: 49px;
  z-index: 1;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
